<template>
    <div class="detail">
        <router-link :to="'/home'">
            <Logo style="margin-top: 15px; margin-left: 30px;" />
        </router-link>
        <Header v-bind:pageInfo="pageInfo"/>
        <div class="content">
            <div class="detail-contents">
                <slot name="contents"></slot>
            </div>
            <div class="detail-btns">
                <slot name="buttons"></slot>
            </div>
        </div>
        <div class="page-name-wrapper">
            <div class="page-name"><span>{{pageInfo.name}}</span></div>
        </div>
        <div class="bg"></div>
    </div>
</template>

<script>
import Logo from '@/components/Logo';
import Header from '@/components/detail/Header';

export default {
    props: {
        pageInfo: Object,
    },
    components: {
        Logo,
        Header,
    },
};
</script>

<style scoped>
    .detail {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .content,
    .page-name-wrapper,
    .bg {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .content {
        padding: 110px 75px;
        z-index: 10;
        box-sizing: border-box;
    }

    .detail-contents {
        min-height: 250px;
    }

    /* */

    .detail-contents > div {
        display: table;
    }
    .detail-contents .img-wrapper {
        display: table-cell;
    }
    .detail-contents .img {
        margin-left: 50px;
        width: 500px;
    }
    .detail-contents .img img {
        max-height: 220px;
    }

    .detail-contents .spec-list-wrapper {
        display: table-cell;
        width: 100%;
        padding-left: 250px;
        text-align: left;
        vertical-align: middle;
    }

    .spec {
        margin-bottom: 10px;
        font-weight: 300;
    }

    .spec-title {
        font-size: 14px;
    }
    .spec-value .number {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
    }
    .spec-value .unit {
        display: inline-block;
        font-size: 14px;
    }

    /* */

    .detail-btns {
        display: table;
        width: 100%;
        text-align: center;
        /* margin-top: 150px; */
    }

    .page-name-wrapper { z-index: 5; }
    .bg {
        background-image:url('../../assets/BG_1.png');
        z-index: 1;
        background-size: cover;
    }

    .page-name {
        display: table-cell;
        vertical-align: middle;
    }
    .page-name span {
        display: inline-block;
        color: #EC3B7F;
        font-weight: 700;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
    }
    @media (min-width: 1023px) and (max-width: 1280px) {
        .detail-contents .img {
            width: 400px;
        }
        .detail-contents .spec-list-wrapper {
            padding-left: 150px;
        }
        .detail-btns {
            margin-top: 70px;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .detail-contents .img {
            width: 250px;
        }
        .detail-contents .spec-list-wrapper {
            padding-left: 100px;
        }
        .detail-contents .img img {
            max-width: 300px;
        }

    }

</style>
