<template>
    <div class="page">
        <Detail v-bind:pageInfo="{ name: 'BIKE', path: '/bike' }">
            <div slot="contents">
                <div class="img-wrapper">
                    <div class="img">
                        <img class="bikeImg" src="../assets/S.png" />
                    </div>
                </div>
                <div class="spec-list-wrapper">
                    <div class="spec-list">
                        <div class="spec">
                            <div class="spec-title">배터리 잔량</div>
                            <div class="spec-value">
                                <div class="number">75</div>
                                <div class="unit">%</div>
                            </div>
                        </div>
                        <div class="spec">
                            <div class="spec-title">주행거리</div>
                            <div class="spec-value">
                                <div class="number">1500</div>
                                <div class="unit">KM</div>
                            </div>
                        </div>
                        <div class="spec">
                            <div class="spec-title">최고시속</div>
                            <div class="spec-value">
                                <div class="number">40</div>
                                <div class="unit">KM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="buttons">
                <Button v-bind:btnText="'OPEN'"
                        v-on:onClick="requestSaddleOpen();"></Button>
                <Button v-bind:btnText="'ON'"
                        v-on:onClick="requestOn();"></Button>
                <Button v-bind:btnText="'OFF'"
                        v-on:onClick="requestOff();"></Button>
            </div>
        </Detail>

        <audio id="saddle-open" style="display: hidden;">
            <source src="../assets/mp3/bikeOpen.mp3" type="audio/mpeg">
        </audio>
        <audio id="on" style="display: hidden;">
            <source src="../assets/mp3/on.mp3" type="audio/mpeg">
        </audio>
        <audio id="off" style="display: hidden;">
            <source src="../assets/mp3/off.mp3" type="audio/mpeg">
        </audio>

    </div>
</template>

<script>
import Detail from '@/components/detail/Detail';
import Button from '@/components/detail/Button';

export default {
    components: {
        Detail,
        Button,
    },
    methods: {
        requestSaddleOpen: function() {
            let requestData = {
                type: 'saddle_open',
                wait: true,
            };

            $('audio#saddle-open')[0].play();

            $.ajax({
                type: 'POST',
                url: 'http://34.85.118.236/api/bike_request',
                contentType: 'text/plain',
                data: JSON.stringify(requestData),
                success: function(resp) {
                    console.warn(resp);
                }
            });
        },
        requestOn: function() {
            let requestData = {
                type: '9v_on',
                wait: true,
            };

            $('audio#on')[0].play();

            $.ajax({
                type: 'POST',
                url: 'http://34.85.118.236/api/bike_request',
                contentType: 'text/plain',
                data: JSON.stringify(requestData),
                success: function(resp) {
                    console.warn(resp);
                }
            });
        },
        requestOff: function() {
            let requestData = {
                type: '9v_off',
                wait: true,
            };

            $('audio#off')[0].play();

            $.ajax({
                type: 'POST',
                url: 'http://34.85.118.236/api/bike_request',
                contentType: 'text/plain',
                data: JSON.stringify(requestData),
                success: function(resp) {
                    console.warn(resp);
                }
            });
        },
    },
};
</script>

<style scoped>
 @media (min-width: 768px) and (max-width: 1024px) {
     .bikeImg{
         margin-left: 0px;
     }
 }
</style>
