<template>
    <div class="page">

        <div class="container">
            <div class="item">
                <router-link :to="'/intro'">
                    <div class="icon icon-info"></div>
                    <div>
                        <img class='btn-icon' src="../assets/infoButton.png" />
                    </div>
                    <!-- <div class="icon-text">INFO</div>-->
                    <div class="item-bg"></div>
                </router-link>
            </div>
            <div class="item">
                <router-link :to="'/cube'">
                    <div class="icon icon-cube"></div>
                    <div>
                        <img class='btn-icon' src="../assets/cubeBtn.png" />
                    </div>
                    <!-- <div class="icon-text">CUBE</div> -->
                    <div class="item-bg"></div>
                </router-link>
            </div>
            <div class="item">
                <router-link :to="'/bike'">
                    <div class="icon icon-bike"></div>
                    <div>
                        <img class='btn-icon' src="../assets/bikeButton.png" />
                    </div>
                    <!-- <div class="icon-text">BIKE</div>-->
                    <div class="item-bg"></div>
                </router-link>
            </div>
            <div class="item">
                <router-link :to="'/kick'">
                    <div class="icon icon-kick"></div>
                    <div>
                        <img class='btn-icon' src="../assets/kickButton.png" />
                    </div>
                    <!-- <div class="icon-text">KICK</div> -->
                    <div class="item-bg"></div>
                </router-link>
            </div>
            <div class="item">
                <router-link :to="'/map'">
                    <div class="icon icon-map"></div>
                    <div>
                        <img class='btn-icon' src="../assets/mapButton.png" />
                    </div>
                    <!-- <div class="icon-text">MAP</div>-->
                    <div class="item-bg"></div>
                </router-link>
            </div>
        </div>

        <div class="background"></div>

    </div>
</template>

<script>
export default {

};
</script>

<style scoped>
.container {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.container .item {
    position: relative;
    display: table-cell;
    width: 20%;
    border-left: 1px solid #eee;
    cursor: pointer;
}
.container .item:first-child { border-left: 0; }

.container .item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 60px;
    text-align: center;
}

.container .item .item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container .item:hover .item-bg,
.container .item:focus .item-bg {
    background-color: rgba(236, 59, 127, 1);
    z-index: 1;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../assets/mary_01.png');
    background-size: cover;
    z-index: 1;
}
.btn-icon {
    width: 80px;
    height: 127px;
    margin-top:40px;
    z-index: 5;
    position: relative;
}

/*
.btn-icon-2{
    width: 110px;
    height: auto;
    margin-top:40px;
}
.btn-icon-3{
    width: 110px;
    height: auto;
    margin-top:40px;
}
.btn-icon-4{
    width: 110px;
    height: auto;
    margin-top:40px;
}
.btn-icon-5{
    width: 110px;
    height: auto;
    margin-top:40px;
} */

</style>
