<template>
    <div class="page">

        <!--
        <div class="logo-wrapper">
            <div>
                <Logo v-bind:color="'white'" />
            </div>
        </div>

        <div class="bottom-logo-wrapper">
            <Logo v-bind:color="'white'" v-bind:size="'small'" />
        </div>
        -->

        <div class="background"></div>

    </div>
</template>

<script>
import Logo from '@/components/Logo';

export default {
    components: {
        Logo,
    },
    created: function() {
        let that = this;
        setTimeout(function() {
            that.$router.replace('/home');
        }, 3000);
    },
};
</script>

<style scoped>
.logo-wrapper {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.logo-wrapper > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../assets/mary_03.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.bottom-logo-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

</style>
