<template>
    <div class="page map">
        <Detail v-bind:pageInfo="{ name: 'MAP', path: '/map' }">
            <div slot="contents">
                <div id="map"></div>
            </div>
            <div slot="buttons">
                <Button v-bind:btnText="'내 위치'"
                        v-on:onClick="initLocation();"></Button>
            </div>
        </Detail>
    </div>
</template>

<script>
import Detail from '@/components/detail/Detail';
import Button from '@/components/detail/Button';

export default {
    components: {
        Detail,
        Button,
    },
    mounted: function() {
        var map = undefined;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 37.504, lng: 127.029 },
                zoom: 14,
                disableDefaultUI: true,
            });

            // Add Marker ...

            // TODO icon 우리 걸로 바꾸기
            var iconBase =
            'https://developers.google.com/maps/documentation/javascript/examples/full/images/';

            var icons = {
                parking: iconBase + 'parking_lot_maps.png',
                library: iconBase + 'library_maps.png',
                info: iconBase + 'info-i_maps.png',
            };

            var features = [
                {
                    position: new google.maps.LatLng(37.4979678, 127.0274849),
                    type: 'info',
                    content: '<div class="marker-title">'+
                                'CUBE'+
                            '</div>'+
                            '<div class="body">'+
                                '대여가능 배터리 | 6개'+
                            '</div>'+
                            '<div class="body">'+
                                '대여중 배터리 | 2개'+
                            '</div>'+
                            '<div class="body">'+
                                '주소 | 강남구 역삼동 테헤란로 7길'+
                            '</div>',
                },
                {
                    position: new google.maps.LatLng(37.5076994, 127.0320121),
                    type: 'parking',
                    content: '<div class="marker-title">'+
                                'CUBE'+
                            '</div>'+
                            '<div class="body">'+
                                '대여가능 배터리 | 6개'+
                            '</div>'+
                            '<div class="body">'+
                                '대여중 배터리 | 2개'+
                            '</div>'+
                            '<div class="body">'+
                                '주소 | 강남구 역삼동 테헤란로 7길'+
                            '</div>',
                },
            ];

            for (let i=0; i<features.length; i++) {
                var feature = features[i];
                let marker = new google.maps.Marker({
                    position: feature.position,
                    icon: icons[feature.type],
                    map: map,
                });
                var infoWindow = new google.maps.InfoWindow({
                    content: feature.content
                });
                marker.addListener('click', function() {
                    infoWindow.open(map, marker);
                });
            }

            // goToCenter();

        }

        window.initMap = initMap;

        var apiKey = 'AIzaSyC_qnPTkTEwSrXAuT73ILGkmoBV9JpdIL0';
        $.ajax({
            url: 'https://maps.googleapis.com/maps/api/js?key='+apiKey+'&callback=initMap',
            dataType: 'script',
        });

        function goToCenter() {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
            });
        }
        window.goToCenter = goToCenter;

        //

        $(window).resize(onResize);

        function onResize() {
            let wW = $(window).width();
            let wH = $(window).height();
            $('#map').width(wW-200);
            $('#map').height(wH-200);
        }

        onResize();

    },
    methods: {
        initLocation: function() {
            // 현재 위치로 초기화
            window.goToCenter();
        },
    },
};
</script>

<style>
    #map {
        height: 100%;
    }
    .map .detail-btns {
        text-align: right !important;
        margin-left: -15px;
    }
    .marker-title {
        color: #EC3B7F;
        font-weight: 700;
        margin-bottom: 10px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .detail-btns{

        }

    }

</style>
