<template>
    <div>
        <router-view />
    </div>
</template>

<script>
export default {
};
</script>

<style>
@font-face {
    font-family: 'Mont ExtraLight DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('Mont ExtraLight DEMO'), url('./assets/Mont-ExtraLightDEMO.woff') format('woff');
}
@font-face {
    font-family: 'Mont Heavy DEMO';
    font-style: normal;
    font-weight: normal;
    src: local('Mont Heavy DEMO'), url('./assets/Mont-HeavyDEMO.woff') format('woff');
}

.page {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
a {
    text-decoration: none !important;
}
</style>
