* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 444;
    padding: 15px 50px;
    margin-bottom:0;
    border: none;
    border-radius: 0;
}

.nav>li{margin:0 auto;}

.navbar-default {
    background-color: #fff;
}

.navbar-header {
    max-height: 60px;
}
.navbar-default .navbar-toggle{border-color:#fff;}
.navbar-default .navbar-toggle .icon-bar{background-color:#CB0457;}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{background-color:#fff;}
.navbar-default .navbar-nav>li>a {
    line-height: 40px;
    font-size: 18px;
    color: #CB0457;
    padding: 10px 0;
}

.navbar-brand {
    height: 60px;
    padding: 10px 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
    max-width: 464px;
    text-align: center;
}


.navbar-nav>li {
    width: 116px;
}

/*768px이하*/
@media (max-width: 768px) {
  
    /*navbar*/
    .navbar{
        padding:15px 30px;
    }
}