body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
}
p{margin:0 0 5px;}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;

}

.contents-1 {
    /*margin-top: 100px;*/
    padding: 200px 50px 0;
}
.contents-2,
.contents-3,
.contents-4{
   /* padding:90px 50px 50px;*/
   padding:90px 50px;
}


.footer {
    /*margin-top: 50px;*/
    padding: 50px;

}

.contents-4 {
    min-height: 660px;
    padding: 100px 50px;

}

.background {
    background-image: url('images/background.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 649px;

}

.title {
    color: #cb0457;
    font-weight: 700;
    letter-spacing: -0.02em;

}

.contents-1 h1.title {
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 50px;
    font-weight: 900;
    /*text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.6);*/
    color:#fff;
}

.contents-1 .btn-holder .button {
    display: inline-block;
}

.contents-1 .btn-holder .btn1 {
    background: url('images/Icons App Store Google play.png') no-repeat 0 0;
    width: 150px;
    height: 45px;
    margin-right: 20px;
}

.contents-1 .btn-holder .btn2 {
    background: url('images/Icons App Store Google play.png') no-repeat 0 100%;
    width: 150px;
    height: 45px;
}

/*contents-2*/
.contents-2 {
    background-color: #cb0457;
    text-align: right;
    display: flex;

}

.contents-2 h2.title {
    font-size: 48px;
    margin-bottom: 50px;
    color: #fff;
}

.contents-2 .text {
    color: #fff;
    font-weight: 300;
}

.contents-2 .content {
    flex: 1;
}

.contents-2 .right img {
    width: 100%;
    height: auto;
}

.contents-2 .left {
    margin: auto 0;
}

/*슬라이드 이미지*/


/*.contents-2 .right ul li{display:inline-block;}*/


/*contents-3*/
#slideshow{
    position: relative;
    overflow: hidden;
    width:269px;
    height:549px;
    margin:0 auto;
}

#slideshow .picture-holder{position: absolute;}
.contents-3 .slider .test-slide .text {
    margin-top: 20px;
    font-size: 18px;
    word-break: keep-all;
    text-align: center;
    color: #cb0457;
}

.contents-3 .table {
    display: flex;
}

.contents-3 .table .table-cell {
    flex: 1;
    text-align: center;
    padding-right: 20px;
}

.contents-3 .table .table-cell:last-child {
    padding-right: 0;
}

.contents-3 .table .table-cell .text-holder {
    margin-top: 15px;
}

.contents-3 .table .table-cell .sub-title {
    color: #cb0457;
    font-weight: 700;
}

.contents-3 .table .table-cell .text {
    font-weight: 300;
    font-size: 16px;
}

.contents-3 .table .table-cell .image {
    width: 110px;
    height: 110px;
    margin: 0 auto;
}

.contents-3 .table .table-cell .image-1 {
    background: url('images/Group 3.png') no-repeat 0 0;
}

.contents-3 .table .table-cell .image-2 {
    background: url('images/Group 3.png') no-repeat -111px 0;
}

.contents-3 .table .table-cell .image-3 {
    background: url('images/Group 3.png') no-repeat -222px 0;
}

.contents-3 .table .table-cell .image-4 {
    background: url('images/Group 3.png') no-repeat -333px 0;
}

.contents-3 h2.title,
.contents-4 h2.title {
    font-size: 28px;
    margin-bottom: 50px;
    color: #cb0457;
}




/*contents-4*/
.contents-4 {

  background-image:url('images/safe.svg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #fff;
    background-color: #FBF2F8;*/
    color: #cb0457;
}
.contents-4 h2.title {
    margin-top:0;
    margin-bottom: 30px;
}

.slide-wrapper .test-slide img {
    border: 1px solid #cb0457;
    border-radius: 40px;
}

.contents-4 .picture-holder img{width: 100%;height: auto;}
.contents-4 .text-holder .text {
    color: #cb0457;
    font-weight: 300;
}

.contents-4 .box {
  
    padding: 50px;
    margin:100px 0;
    width:50%;
    background-color: #fff;
    border-radius: 40px;
}
.contents-4 .box .picture-holder{display:none;}

/*footer*/
.footer {
    background-color: #CB0457;
    color: #fff;
    font-size: 14px;
}



.footer .footer-1 .right{
    display: flex;
}
.footer .footer-1 .right .logo{text-align: left;}
.footer .footer-1 .right .logo,
.footer .footer-1 .right .icon-holder{
    flex:1;

}


.footer .footer-1 .right {
    text-align: right;
    
}

.footer .footer-1 .right .icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: auto;
    display: inline-block;
}

.footer .footer-2 {
    margin-top: 50px;
}

.footer .footer-2 .link-holder {
    width: 100%;
}

.footer .footer-2 .link-holder .row {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.footer .footer-2 .link-holder .row:last-child {
    margin-top: 0;
}

.footer .footer-2 .link-holder .row .link {
    display: inline-block;
    width: 220px;
    text-align: center;
}

.footer .footer-2 .link a {
    color: #fff;
}

.footer .footer-2 .link a:visited {
    color: #fff;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    /*main*/

    .navbar-toggle {
        margin-right: 0;
    }

    .background {
        background-position: 70% center;
        height: auto;
    }

    .contents-1 h1.title {
        font-size: 48px;
        line-height: 1.4;
    }

    .contents-1 {
        padding: 100px 30px;
    }


    .contents-2,
    .contents-3,
    .contents-4 {
        padding:90px 30px;

    }

    .contents-2 h2.title {
        font-size: 36px;

    }

    .footer {
        padding: 50px 30px;
    }
}


@media (max-width:425px) {
    .contents-1 .btn-holder {
        font-size: 0;
    }

    .contents-1 .btn-holder .btn1 {
        background: url('images/Icons App Store Google play 4-(2).png') no-repeat 0 0;
        width: 120px;
        height: 36px;
    }

    .contents-1 .btn-holder .btn2 {
        background: url('images/Icons App Store Google play 4-(2).png') no-repeat 0 -38px;
        width: 120px;
        height: 37px;

    }

    .contents-2 h2.title {
        font-size: 28px;
    }

    .contents-2 {
        flex-direction: column;
        text-align: center;
    }

    .contents-3 .table {
        flex-direction: column;
    }

    .contents-3 .table .table-cell {
        padding-right: 0;
        margin-top: 20px;
    }
    .contents-4{background-image:none;background-color:#FBF2F8;}
    .contents-4 .box{width:100%;padding:30px;}
    .contents-4 .box .picture-holder{display:block;}
    .contents-2 .right{margin-top:50px;}
    #slideshow{margin:0 auto;}
    /*.footer .footer-1 {
        flex-direction: column-reverse;
    }*/

   

    .footer,
    .footer .footer-2 .link-holder .row {
        font-size: 12px;
    }

    .footer .footer-1 .right .icon {
        width: 25px;
        height: 25px;
        font-size: 25px;
    }

    .footer .footer-2 .link-holder .row:last-child {
        margin-top: 0;
    }
 

}